table#summary
  thead
    tr
      each category in tableData.categories
        th(colspan='#{category.colspan}') #{category.title}
  tr
    each column in tableData.columns
      td #{column.title}
    each row in tableData.rows
      if row.isSummary
        tr
          each column in tableData.columns
              td.isSummary #{row[column.dataKey]}
      else
        tr
          each column in tableData.columns
            td #{row[column.dataKey]}
          
